@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');

body {
    background: url("real-plane.png") center center no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Fjalla One', sans-serif;
    margin: 0;
}

.form-container {
    background: rgba(255, 255, 255, 0.7); /* Semi-transparent white background */
    padding: 30px 50px;
    border: 2px solid #0F52BA; /* Sapphire Blue border */
    border-radius: 15px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.2); /* Soft shadow */
    text-align: center;
    min-width: 320px;
    max-width: 500px;
    width: 90%;
}

h1 {
    font-size: 28px;
    color: #0F52BA; /* Sapphire Blue */
    margin-bottom: 20px;
}

form {
    display: grid;
    gap: 20px;
    justify-content: center;
}

input {
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 28px;
    border: none;
    border-bottom: 4px solid rgba(137, 207, 240, 0.8); /* Baby Blue */
    background: #f8f4e5;
    padding: 5px;
    outline: none;
    color: #2A293E;
    transition: border-color 0.3s;
}

input:focus {
    border-bottom: 4px solid rgba(15, 82, 186, 0.8); /* Sapphire Blue */
}

button {
    display: inline-block;
    line-height: 28px;
    padding: 0 25px;
    background: #0F52BA; /* Sapphire Blue */
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    transition: all 0.2s ease-in-out;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

button:hover {
    background: rgba(42, 41, 62, 0.8); /* Darker blue for hover */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

button:active {
    transform: scale(0.95); /* Slight shrinking effect */
}

